* {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;

}

header {
    display: flex;
    margin-top: 30px;
    margin-left: 60px;
}

body {
    display: flex;
    flex-direction: column;
    background: #F3F5FC;
    min-width: 100vh;
    min-height: 100vh;
    position: relative;
    margin: auto;
    
}

.main {
    display: flex;
    margin: auto;
    /* width: 940px; */
    padding: 0 40px;
    align-items: top;
    flex: 1;
    box-sizing: border-box;

}

.input-texto {
    margin-top: 20px;
    height: 520px;
    resize: none;
    background: none;
    border: none;
    box-sizing: border-box;
    padding: 15px;
    
}

.input-texto:focus {
    outline: none;
}

.mensagem {
    padding: 15px;
    margin: auto;
    height: 700px;
    resize: none;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.198);
    border: none;


}

.mensagem:focus {
    outline: none;
    padding: 15px;
}

.botoes {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    padding: 24px;
    justify-content: center;

}

.botaoCopy {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    padding: 24px;
    justify-content: center;
    margin: auto;
    position: absolute;
    left: 50%;
    bottom: -3%;
    transform: translate(-50%, -50%);
}

.encriptar {
    background: rgb(3, 3, 170);
    color: #D8DFE8;
    margin-left: 10px;
    border-radius: 20px;
    font-size: 20px;
    box-sizing: border-box;
    width: 200px;
    height: 50px;
}

.encriptar:hover{
    background: rgb(0, 0, 83);
    color: #D8DFE8;
    transition: 0.5s;
    cursor: pointer;
}

.descriptografar{
    background: none;
    color: darkblue;
    margin-left: 10px;
    border-radius: 20px;
    font-size: 20px;
    box-sizing: border-box;
    width: 200px;
    height: 50px;
}

.descriptografar:hover{
    background: darkblue;
    color: #D8DFE8;
    transition: 0.5s;
    cursor: pointer;
}

.btnCopiar {
    position: absolute;
    bottom: 40px;
    background: rgba(255, 255, 255, 0.951);
    color: darkblue;

    margin-top: 20px;
    border-radius: 20px;
    font-size: 20px;
    box-sizing: border-box;
    width: 200px;
    height: 50px;
    border-color: darkblue;
    visibility: hidden;

    
}

.btnCopiar:hover{
    background: darkblue;
    color: #D8DFE8;
    transition: 0.5s;
    cursor: pointer;
}

.informacoes {
    font-size: 12px;
}

.informacao01 {
    width: 300px;
    position: absolute;
    left: 45%;
    bottom: 90%;
    transform: translate(-50%, -50%);
    top: 500px;
    font-weight: 700, bold;
    font-size: 22px;
    line-height: 1;
    text-align: center;
    margin: 20px;
    
}

.sessaoMsg{
    display: flex;
    position: relative;
    margin: auto;
    text-align: center;
    margin-top: 0px;
}

.informacao02 {
    width: 300px;
    position: absolute;
    left: 45%;
    bottom: 90%;
    transform: translate(-50%, -50%);
    top: 550px;
    font-size: 12px;
    line-height: 1.3;
    text-align: center;
    margin: 20px;
    
}

.personagem{
    position: absolute;
    top: 20%;
    size: 100px;
}

.rodape{
    text-align: center;
    padding: 10px;
    background: #e0e4ea;
    margin-top: 15px;
    box-sizing: border-box;
    margin-bottom: 0px;
}

.textoRodape {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 150%;
    color: black;



}
.textoRodape a {
    text-decoration: none;
    font-weight: 700;
    color: black;
}

.textoRodape a:hover {
    color: darkcyan;
    text-decoration: underline;
}

@media only screen and (max-width: 850px) {
    
    header {
        display: flex;
        margin-top: 20px;
        margin-left: 30px;
    }

    body {
        display: flex;
        flex-direction: column;
        background: #F3F5FC;
        min-width: 100vh;
        min-height: 100vh;
        position: relative;
        margin: auto;
    }


    .main {
        display: block;
        margin: auto;
        padding: 0 40px;
        align-items: top;
        flex: 1;
        box-sizing: border-box;
    
    }

    .personagem {
        display: none;
    }
   
    .input-texto {
        display: flex;
        margin-top: auto;
        height: 450px;
        width: 550px;
        resize: none;
        background: none;
        border: none;
        box-sizing: border-box;
        padding: 15px;
    
    }

    .informacoes {
        font-size: 10px;
    }


    .mensagem {
        display: flex;
        margin: auto;
        padding: 15px;
        height: 250px;
        width: 550px;
        resize: none;
        border-radius: 20px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.198);
        border: none;
    }

    .informacao01 {
        width: 600px;
        position: absolute;
        top: 35%;
        transform: translate(-50%, -50%);
        font-weight: 700, bold;
        font-size: 22px;
        line-height: 1;
        text-align: center;
        
    }
    

    
    .informacao02 {
        width: 600px;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        font-size: 12px;
        line-height: 1.3;
        text-align: center;
        margin: 20px;
        
    }

    .btnCopiar {
        position: absolute;
        bottom: 5px;
        background: rgba(255, 255, 255, 0.951);
        color: darkblue;
    
        margin-top: 20px;
        border-radius: 20px;
        font-size: 20px;
        box-sizing: border-box;
        width: 400px;
        height: 50px;
        border-color: darkblue;
        visibility: hidden;
    
        
    }

    .rodape{
        text-align: center;
        padding: 10px;
        background: #e0e4ea;
        margin-top: 25px;
        box-sizing: border-box;
        margin-bottom: 0px;
        margin: 25 auto 0px;
    }


}

@media only screen and (max-width: 400px) {
    
    header {
        display: flex;
        margin-top: 20px;
        margin-left: 30px;
    }

    body {
        display: flex;
        flex-direction: column;
        background: #F3F5FC;
        min-width: 100vh;
        min-height: 100vh;
        position: relative;
        margin: auto;
    }

    .main {
        display: block;
        margin: auto;
        padding: 0 40px;
        flex: 1;
        box-sizing: border-box;
    
    }

    .personagem {
        display: none;
    }
   
    .input-texto {
        display: flex;
        margin-top: 10px;
        height: 350px;
        width: 350px;
        resize: none;
        background: none;
        border: none;
        box-sizing: border-box;
        padding: 15px;
    
    }

    .informacoes {
        font-size: 10px;
        margin-bottom: -30px;
    }

    .botoes {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        padding: 24px;
        justify-content: center;
    
    }

    .encriptar {
        margin-bottom: 10px;
        font-size: 15px;
        width: 300px;
        height: 40px;
    }

    .descriptografar{
        font-size: 15px;
        width: 300px;
        height: 40px;
    }
    


    .mensagem {
        display: flex;
        margin: auto;
        padding: 15px;
        height: 350px;
        width: 350px;
        resize: none;
        border-radius: 20px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.198);
        border: none;
    }

    .informacao01 {
        width: 300px;
        position: absolute;
        top: 7%;
        transform: translate(-50%, -50%);
        font-weight: 700, bold;
        font-size: 22px;
        line-height: 1.3;
        text-align: center;
        
    }
    

    
    .informacao02 {
        width: 300px;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 40%;
        font-size: 12px;
        line-height: 1.3;
        text-align: center;
        margin: 20px;
        
    }

    .btnCopiar {
        position: absolute;
        bottom: 0px;
        margin-top: 20px;
        border-radius: 20px;
        font-size: 18px;
        box-sizing: border-box;
        width: 300px;
        height: 40px;
        border-color: darkblue;
        visibility: hidden;
    
        
    }

    .rodape{
        text-align: center;
        padding: 10px;
        background: #e0e4ea;
        margin-top: 25px;
        box-sizing: border-box;
        margin-bottom: 0px;
        margin: 25px auto 0px;
        align-items: flex-end;
    }


}


